@font-face {
    font-family: 'AmbleLight';
    src: url('fonts/Amble-Light-webfont.eot');
    src: url('fonts/Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Light-webfont.woff') format('woff'),
         url('fonts/Amble-Light-webfont.ttf') format('truetype'),
         url('fonts/Amble-Light-webfont.svg#AmbleLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbleLightItalic';
    src: url('fonts/Amble-LightItalic-webfont.eot');
    src: url('fonts/Amble-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-LightItalic-webfont.woff') format('woff'),
         url('fonts/Amble-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/Amble-LightItalic-webfont.svg#AmbleLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AmbleBold';
    src: url('fonts/Amble-Bold-webfont.eot');
    src: url('fonts/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Bold-webfont.woff') format('woff'),
         url('fonts/Amble-Bold-webfont.ttf') format('truetype'),
         url('fonts/Amble-Bold-webfont.svg#AmbleBold') format('svg');
    font-weight: normal;
    font-style: normal;
}